/* General */
/* 
black - #161616
red - #e01e3c
white - #fffff
*/
body {
    background-color: #F7F7F8;
}


h1, h2, h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 20px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

/* Header */

header {
    background-color: #161616;
    height: 80px;
}

header .wrapper {
    height: 80px;
    display: flex;
    align-items: center;
}

.menu {
    margin-right: auto;
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    height: 40px;
    width: 40px;
    background-image: url('./assets/logo.svg');
    background-size: contain;
}

.menu ul{
    padding: 0px;
    margin: 0;
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: space-around;
}

.menu a{
    color: white;
    font-family: 'Oswald', sans-serif;
}

.icon-container {
    display: flex;
    flex: 0 120px;
    justify-content: space-between;
    align-items: center
}

i {
    color: white;
}

/* Hero */

.hero {
    height: 600px;
    background: url('./assets/hero-large.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.hero .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero p {
    max-width: 800px;
}

.button-container {
    margin: 40px 0 80px;
}

button {
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px 35px;
    color: white;
    background-color: #161616;
    text-transform: uppercase;
    font-size: .9em;
    margin-right: 20px;
}

.red-button {
    color: white;
    background-color: #e01e3c;
    border: 2px solid #e01e3c;
}

/* Featured Products */

.featured-products {
 margin: 120px auto;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    padding: 10px;
    transition: .5s;
}

img {
    height: 75%;
    width: 75%;
}

.product p {
    font-weight: bold;
}

@media (max-width: 1150px) {
    .product {
        height: 300px;
        width: 300px;
    }

    .product p, .product span {
        font-size: 75%;
    }
}

@media (max-width: 975px) {
    .card-wrapper {
        flex-direction: column;
    }

    .product {
        height: 400px;
        width: 400px;
    }

    .product p, .product span {
        font-size: 100%;
    }
}


/* Showcase Products */

.showcase-products {
    margin: 80px 0;
}

.showcase-product {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 80px;
}

.showcase-img {
    background: url('./assets/feature-product-1.jpg');
    background-size: cover;
    background-position: 100% 50%;
    height: 100%;
    width:85%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.showcase-details {
    height: 280px;
    width: 400px;
    background: white;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 20px;
}

@media (max-width: 975px) {
    .showcase-img {
        width:100%;
        height: 400px;
        top:0;
    }

    .showcase-details {
        width: 100%;
        height: 210px;
        bottom: 0;
    }

    .showcase-product {
        height: 610px;
    }
}

.footer {
    background-color: #222;
    height: 200px;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-card {
    flex: 1;
    margin: 2px;
}

footer a, footer p {
    font-family: 'Oswald', sans-serif;
    color: #999;
    font-weight: 400px;
    text-transform: uppercase;
    font-size: .8em;
}

footer li {
    padding: 5px 0;
}

.social-icons{
    display: flex;
    justify-content: space-between;
    max-width: 125px;
    margin-bottom: 40px;
}

.social-icons i {
    color: #999;
}

@media (max-width: 735px) {
    footer .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-card {
        max-width: 300px;
        width: 90%;    
        margin-bottom: 20px;
    }
}


