/* General */
/* 
black - #161616
red - #e01e3c
white - #fffff
*/

h1, h2, h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 36px;
}

button {
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

/* Header */

header {
    background-color: #161616;
    height: 80px;
}

header .wrapper {
    height: 80px;
    display: flex;
    align-items: center;
}

.menu {
    margin-right: auto;
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    height: 40px;
    width: 40px;
    background-image: url('./assets/logo.svg');
    background-size: contain;
}

.menu ul{
    padding: 0px;
    margin: 0;
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: space-around;
}

.menu a{
    color: white;
    font-family: 'Oswald', sans-serif;
}

.icon-container {
    display: flex;
    flex: 0 120px;
    justify-content: space-between;
    align-items: center
}

i {
    color: white;
}

/* Hero */

.hero {
    height: 600px;
    background: url('./assets/hero-large.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.hero .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero p {
    max-width: 800px;
}

.button-container {
    margin: 40px 0 80px;
}

button {
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px 35px;
    color: white;
    background-color: #161616;
    text-transform: uppercase;
    font-size: .9em;
    margin-right: 20px;
}

.red-button {
    color: white;
    background-color: #e01e3c;
    border: 2px solid #e01e3c;
}